.survey-editor {
  .svc-notifier {
    display: none !important;
  }

  .svc-carry-forward-panel {
    display: none;
  }

  .svc-logo-image,
  .svc-logo-image-placeholder {
    opacity: 0.8;
    stroke: var(--muted-foreground);
  }
  .svc-logo-image:hover,
  .svc-logo-image-placeholder:hover {
    stroke: var(--primary);
    fill: var(--primary);
  }

  .svc-top-bar,
  .svc-tabbed-menu,
  .svc-tabbed-menu-wrapper,
  .svc-toolbar-wrapper,
  .sv-action-bar--default-size-mode {
    background-color: var(--overlay) !important;
  }
  .svc-top-bar,
  .svc-tabbed-menu,
  .svc-tabbed-menu-wrapper,
  .svc-tabbed-menu-item,
  .svc-tabbed-menu-item--selected {
    max-height: 40px;
    height: 40px;
    padding: 0;
  }
  .svc-tabbed-menu-item:hover {
    background-color: var(--muted) !important;
  }
  .sv-action-bar-item:hover {
    background-color: var(--muted-light) !important;
  }
  .svc-tabbed-menu-item--selected {
    background-color: var(--primary) !important;
    :hover {
      background-color: var(--muted-light) !important;
    }
  }
  .svc-tabbed-menu-item__text {
    padding: 3px 8px;
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 951px) {
    .svc-top-bar {
      display: none !important;
    }
  }

  .sv-svg-icon,
  .svc-panel__add-new-question-icon,
  svg use {
    max-width: 24px;
    max-height: 24px;
  }
  .svc-add-new-item-button__text {
    font-size: 12pt;
    line-height: 12pt;
  }
  .svc-add-new-item-button__text:hover,
  .svc-panel__add-new-question-icon:hover {
    color: var(--primary);
    background-color: unset;
  }

  /* width of the content / creator / survey */
  .sd-container-modern,
  .sd-container-modern--static,
  .svc-tab-designer,
  .svc-designer__placeholder-container {
    max-width: calc(100vw - var(--sidebar-width) - var(--menubar-max-width)) !important;
    width: calc(100vw - var(--sidebar-width) - var(--menubar-max-width) - 4rem) !important;
    height: 100%;
    justify-content: center;

    .svc-scroll__scrollbar,
    .svc-scroll__scrollbar-sizer {
      height: 0px !important;
    }

    @media only screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      max-width: 100% !important;
      width: 100% !important;
    }
  }
  .svc-designer__placeholder-container {
    height: 800px;
  }

  .svc-flex-row,
  .svc-flex-column,
  .svc-side-bar,
  .svc-side-bar__wrapper,
  .svc-side-bar__container-header,
  .svc-side-bar__container-content,
  .svc-side-bar__shadow,
  .svc-flyout-side-bar {
    background-color: unset !important;
  }

  .sv-string-editor {
    line-break: normal;
    white-space: pre-wrap;
  }
  .svc-designer-header {
    .sd-title .sv-string-editor {
      font-size: 20pt;
      line-height: 20pt;
      color: var(--primary);
    }

    .sd-description .sv-string-editor {
      font-size: 16pt;
      line-height: 16pt;
      color: var(--primary-foreground);
    }
  }

  .svc-page .sd-page {
    .sd-page__title .sv-string-editor {
      font-size: 16pt;
      line-height: 16pt;
    }
    .sd-page__title .sv-string-editor {
      color: var(--ring) !important;
    }
    .sd-page__description .sv-string-editor {
      font-size: 12pt;
      line-height: 12pt;
    }
  }

  .svc-page-toolbar {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .svc-page-toolbar__item,
  .svc-page-toolbar__item--with-text {
    max-height: 50px;
    align-items: center;

    svg {
      max-width: 24px;
      max-height: 24px;
      justify-content: center;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .svc-page-toolbar__item--with-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;

    max-height: 50px;
  }
  .svc-question__content {
    padding-bottom: 60px;

    .sd-selectbase {
      margin: 0 !important;
      padding: 0 !important;
    }

    .svc-question__drag-area {
      .sv-svg-icon {
        max-height: 30px;
        height: 30px;
        max-width: 30px;
        width: 30px;
        opacity: 1;
      }
      svg use {
        fill: var(--ring);
        opacity: 1;
      }
    }
    .svc-question__drag-area:hover {
      svg use {
        fill: var(--primary);
        opacity: 1;
      }
    }

    .svc-question__content-actions {
      position: absolute;
      bottom: 5px;
      min-height: 45px;
      max-height: 45px;
      height: 45px;
      padding-bottom: 0;
      margin-bottom: 0;

      .svc-survey-element-toolbar,
      .sv-action-bar,
      .sv-action-bar--small-size-mode {
        svg use {
          fill: var(--ring);
        }
        :hover {
          svg use {
            fill: var(--primary);
            opacity: 1;
          }
        }
      }
    }

    /* rating component - add space between the options  */
    .sd-element__content,
    .sd-question__content {
      padding: 0 !important;
      margin: 0 !important;

      fieldset {
        margin-left: 3rem;
      }
    }
    /* imagepicker component - remove spacing on the inner image picker selection panel */
    .svc-question__content--imagepicker {
      .sd-imagepicker {
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }

  .svc-survey-element-toolbar {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .svc-survey-element-toolbar__item,
  .svc-survey-element-toolbar__item--with-text {
    align-items: center;

    svg {
      max-width: 20px;
      max-height: 20px;
      justify-content: center;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .svc-survey-element-toolbar__item--with-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }
  .svc-dropdown-action--convertTo-last {
    margin-right: 3rem;
  }

  .svc-creator__non-commercial,
  .svc-creator__non-commercial-text {
    visibility: hidden;
    height: 0px;
    display: none !important;
  }

  .sv-action-bar,
  .svc-footer-bar {
    margin: 0 30px;
    .sv-action-bar-separator {
      display: none !important;
    }
    .svc-element__add-new-question {
      justify-content: center;
      gap: 8px;
      svg {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }

  .sv-action-bar-item:not(.sv-action-bar-item--pressed):hover:enabled {
    background-color: var(--secondary-foreground) !important;
  }
  .sv-action-bar-item:not(.sv-action-bar-item--pressed):focus:enabled {
    background-color: var(--primary-foreground) !important;
  }

  /* page color highlights */
  .svc-question__content:not(.svc-page__content--new) {
    box-shadow: unset !important;
  }
  .svc-page__content:not(.svc-page__content--new):focus,
  .svc-hovered.svc-page__content:not(.svc-page__content--new) {
    background-color: var(--overlay-transparent) !important;
    box-shadow: 0 0 0 1px var(--ring-transparent) !important;
  }
  .svc-page__content:hover:not(.svc-page__content--new) {
    background-color: var(--overlay-transparent) !important;
    box-shadow: 0 0 0 1px var(--ring-transparent) !important;
  }
  .svc-page__content--selected:not(.svc-page__content--new),
  .svc-page__content--selected:focus:hover:not(.svc-page__content--new) {
    background-color: var(--overlay-transparent) !important;
    box-shadow: 0 0 0 1px var(--ring) !important;
  }

  /* questions color highlights  */
  .svc-question__content:not(.svc-question__content--dragged) {
    box-shadow: unset !important;
  }
  .svc-question__content:not(.svc-question__content--dragged):focus,
  .svc-question__content--selected:not(.svc-question__content--dragged) {
    box-shadow: 0 0 0 1px var(--ring) !important;
  }
  .svc-question__content:not(.svc-question__content--dragged):hover,
  .svc-question__content--selected:not(.svc-question__content--dragged) {
    box-shadow: 0 0 0 1px var(--ring-transparent) !important;
  }

  /* question panels dark background */
  .svc-question__adorner,
  .svc-question__adorner--collapse-never,
  .svc-question__content {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }

  .svc-btn {
    border-radius: var(--radius);
    background-color: var(--accent);
    color: var(--input);
    justify-content: center;
  }
  .svc-btn:hover {
    background-color: var(--accent-light);
  }
  .svc-btn:disabled {
    background-color: var(--accent);
  }
  .svc-btn:focus {
    border-radius: var(--radius);
    border: 1px solid var(--ring);
  }

  .svc-string-editor__input {
    color: var(--primary-foreground) !important;
  }

  /* input without real input component (titles, descriptions, etc.) */
  .svc-string-editor {
    .svc-string-editor__content {
      .svc-string-editor__input {
        :focus {
          border-radius: 3px;
          border-spacing: 5px;
          color: var(--input);
          background-color: var(--accent);
          box-shadow:
            0 0 0 6px var(--accent),
            0 0 0 8px var(--ring);
          opacity: 1;
        }
      }
      .svc-string-editor__border,
      .svc-string-editor__border--hover,
      .svc-string-editor__border--focus {
        border: unset;
        box-shadow: unset;
        background-color: unset;

        :hover,
        :focus {
          border: unset;
          box-shadow: unset;
          background-color: unset;
        }
      }
    }
  }

  .sv-dropdown_select-wrapper:disabled {
    background-color: var(--muted);
    max-width: 150px;
  }
  .sd-text,
  .sd-input,
  .sd-comment {
    background-color: var(--accent);
    color: var(--input);
  }
  .sd-input:focus {
    border-radius: var(--radius);
    border: 1px solid var(--ring) !important;
  }
  .sd-text:disabled,
  .sd-input:disabled,
  .sd-comment:disabled,
  .sd-multipletext__item {
    color: var(--muted-foreground);
    background-color: var(--muted);
  }
  .sd-text,
  .sd-text__content,
  .sd-comment {
    display: none !important;
  }

  /* fixes white color boolean switch  */
  .sd-boolean,
  .sd-boolean--indeterminate {
    background-color: var(--accent);
    color: var(--primary-foreground);
  }

  /* fixes white color on matrices first cells  */
  .sd-matrix tr > td {
    background-color: transparent;
  }

  .svc-matrix-cell .sd-dropdown--empty {
    background-color: var(--accent);
    color: var(--input);

    :disabled {
      background-color: var(--accent);
    }

    :focus {
      border-radius: var(--radius);
      border: 1px solid var(--ring);
    }
  }
  .sd-matrixdynamic__footer {
    color: var(--primary-foreground);
    :disabled {
      color: var(--primary-foreground);
      opacity: 1;
    }
  }
  .sd-table__cell-action--remove-row {
    .sd-matrixdynamic__remove-btn {
      fill: var(--secondary-foreground);
      opacity: 1;
    }
  }

  /* fixes - icon size for the context menu buttons (matrix cell) */
  .svc-page-toolbar__item,
  .svc-page-toolbar__item--with-text {
    .sv-svg-icon {
      max-width: 24px;
      max-height: 24px;
    }
    svg use {
      fill: var(--ring);
      opacity: 1;
    }
  }
  .svc-page-toolbar__item:hover,
  .svc-page-toolbar__item--with-text:hover {
    svg use {
      fill: var(--primary);
      opacity: 1;
    }
  }

  .svc-matrix-cell__question-controls {
    .svc-context-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      transform: translateY(6px);

      .sv-svg-icon,
      svg use {
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
      }
    }
  }

  .sd-rating__item-star svg {
    fill: var(--primary) !important;
  }
  .sd-rating__item,
  .sd-rating__item--fixed-size {
    margin-left: 1rem;
  }
  .sv-ranking-item__content,
  .sd-ranking-item__content {
    margin-left: 1rem;
    svg use {
      fill: var(--primary-foreground) !important;
    }
  }
  .sd-rating__item,
  .sd-rating__item--fixed-size,
  .sv-ranking-item__index,
  .sd-ranking-item__index,
  .sv-ranking-item__index--empty,
  .sd-ranking-item__index--empty {
    background-color: var(--accent);
  }
  .sd-rating__item:hover,
  .sd-rating__item--fixed-size:hover,
  .sv-ranking-item__index:hover,
  .sd-ranking-item__index:hover,
  .sv-ranking-item__index--empty:hover,
  .sd-ranking-item__index--empty:hover {
    background-color: var(--accent-light);
  }

  .sd-file__drag-area-placeholder {
    color: var(--muted-foreground);
  }
  .sd-file__decorator {
    .sv-string-editor,
    .sd-file__choose-btn,
    .sd-file__choose-btn--text {
      color: var(--primary-foreground);
    }
    .sd-file__choose-btn {
      opacity: 1;
    }
    svg use {
      fill: var(--primary-foreground);
      color: var(--primary-foreground);
    }
  }

  .sd-completedpage h3 {
    color: theme("colors.ciLightGrey") !important;
  }

  /* logic tab view coloring */
  .svc-surface-placeholder__title {
    color: var(--primary-foreground) !important;
    justify-self: center;
  }
  .svc-surface-placeholder__description {
    color: var(--muted-foreground) !important;
    justify-self: center;
  }
  .svc-logic-tab__content .svc-logic-tab__content-action {
    margin: 30px;
    padding: 0 30px;
    max-width: fit-content;
    justify-self: center;
  }

  .svc-text,
  .svc-json-editor-tab__content-area {
    color: var(--primary-foreground) !important;
  }
  .svc-json-editor-tab__content-area {
    background-color: unset !important;
  }

  .sv-popup__container {
    background-color: var(--overlay);
    border-radius: 3px;
    border: 1px solid var(--ring);
  }
  .sv-popup__body-content {
    background-color: var(--overlay) !important;
  }
  .sv-popup__scrolling-content {
    padding: 0;
    margin: 0;
  }

  .sv-popup__body-header {
    padding: 30px 30px 0 30px;
    color: var(--overlay-foreground) !important;
  }
  .sv-popup__body-content {
    .sd-element__content.sd-question__content {
      padding: 0;
      margin: 0;
    }
  }

  .sv-popup__scrolling-content {
    padding: 0;
  }
  .sv-popup__body-content,
  .sv-popup__content {
    padding: 0;

    color: var(--overlay-foreground);
    background-color: var(--overlay);

    .svc-list__container {
      justify-items: start;

      .svc-list__empty-container {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .svc-list__filter {
        margin: 4px 2px;
        height: 36px;
        display: inline-flex;
        align-items: center;
        .svc-list__filter-icon {
          margin-left: 4px;

          .sv-svg-icon {
            height: 24px;
            width: 24px;
          }
          svg use {
            color: var(--ring);
            fill: var(--ring);
          }
        }
        .svc-list__input {
          margin-left: 8px;
          padding: 2px 4px;

          display: flex;
          top: 2px;
          bottom: 2px;
          left: 2px;
          right: 2px;
          max-height: 32px !important;
          background-color: var(--accent);
          color: var(--primary-foreground);
        }
        input:hover {
          border-radius: var(--radius) !important;
          border: 1px solid var(--ring-transparent) !important;
        }
        input:focus {
          outline: 0;
          box-shadow: none;
          border-radius: var(--radius) !important;
          border: 1px solid var(--ring) !important;
        }
      }

      .svc-list__item,
      .svc-list__item--with-icon {
        display: flex;
        justify-content: start;
        max-height: 40px;
        height: 32px;

        margin: 0 8px;
        padding: 0;

        .svc-list__item-body {
          display: inline-flex;
          align-items: center;
          max-height: 28px;
          line-height: 28px;

          .sv-string-viewer {
            max-height: 28px;
            margin-left: 8px;
            color: var(--primary-foreground);
          }
          .sv-string-viewer:hover {
            color: var(--primary);
          }
          .sv-svg-icon {
            height: 24px;
            width: 24px;
          }
          svg use {
            color: var(--ring);
            fill: var(--ring);
          }
        }
        .svc-list__item-body:hover {
          .sv-string-viewer:hover {
            color: var(--primary);
          }
          svg use {
            color: var(--primary);
            fill: var(--primary);
          }
        }

        .svc-list-item__marker-icon {
          justify-self: end;
        }
      }
    }

    .sv-popup__body-footer {
      justify-content: end;
      margin-top: 16px;
      padding: 0 0 30px 0;
    }
  }
  .svc-question__content--in-popup.svc-question__content {
    margin: 0;
    padding: 0 30px 0 30px;
    background-color: var(--overlay) !important;
  }
  .svc-question__content--in-popup.svc-question__content:hover {
    border: none !important;
    box-shadow: none !important;
  }
}
