.quill-container {
  position: relative;
  background: #ffffff;
  border: 1px solid var(--secondary);
  border-radius: 0.75rem;
  color: var(--background);
}

.dark .quill-container {
  background: var(--accent);
  box-shadow: none;
}

.quill-container .ql-toolbar.ql-snow,
.quill-container .ql-container.ql-snow {
  border: none !important;
}

.quill-container .ql-toolbar.ql-snow {
  border-bottom: 1px solid var(--secondary) !important;
}
.quill-container .ql-toolbar {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-color: hsl(var(--input));
  background: hsl(var(--background));
}

.quill-container .ql-container {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-color: hsl(var(--input));
  background: hsl(var(--background));
}

.quill-container .ql-tooltip {
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  max-width: 80%;
  background: var(--accent) !important;
  color: var(--background) !important;
  padding: 8px 12px !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  box-sizing: border-box;
}

.ql-snow .ql-tooltip input {
  background: var(--accent) !important;
  color: var(--background) !important;
  padding: 6px 8px !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 4px !important;
}
.ql-snow .ql-tooltip input::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.ql-snow .ql-picker-label {
  background: var(--accent) !important;
  color: var(--background) !important;
  border: 1px solid #555 !important;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  background: var(--accent) !important;
  border: 1px solid #555 !important;
}
.ql-snow .ql-picker-item {
  color: #ddd !important;
}
.ql-snow .ql-picker-item:hover,
.ql-snow .ql-picker .ql-selected {
  background: var(--accent) !important;
  color: var(--background) !important;
}

.quill-container .ql-snow .ql-stroke {
  stroke: var(--background) !important;
}

.quill-container .ql-snow .ql-fill,
.quill-container .ql-snow .ql-stroke.ql-fill {
  fill: var(--background) !important;
}

.ql-editor li[data-list] > span.ql-ui {
  font-size: 1rem;
}

.ql-editor li {
  padding-left: 0.3rem;
  font-size: initial;
}

/* CONTENT */

.quill-content ol {
  margin: 0 !important;
}

.quill-content ol {
  padding-left: 1.5rem;
  margin: 0.75rem 0;
}

.quill-content ol li[data-list="ordered"] {
  list-style-type: decimal;
}

.quill-content ol li[data-list="bullet"] {
  list-style-type: disc;
}

.quill-content span {
  font-size: inherit;
  letter-spacing: inherit;
}
